.container {
    width: 500px;
    height: 400px;
    margin: 100px auto 0;
    background: #e3e3e3;

    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: auto auto; */
    grid-gap: 1em;
}

.item {
    border: 5px solid red;
}