body {
    margin-top: 40px;
    padding: 0 50px;
}
.container {
    background: #333;
    display: grid;
/*    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.item {
    background: #00b1b3;
    padding: 50px 0;
}
