body {
    margin-top: 40px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.box {
    background: #444;
    color: #fff ;
    border-radius: 2px;
    padding: 10px;
}

.a {
    grid-row: 3;
    grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.a > .box {
    background: blue;
}

.b {
    grid-column: 3 / 5;
}
